<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '編集する') %>
<h1>ユーザー一覧</h1>

<% if flash[:notice] %>
  <div class = "alert alert-info" role = "alert"><%= flash[:notice] %></div>
<% end %>

<div class = "csv-import">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<% @users.each do |user| %>
  <% unless current_user?(user) %>
    <div>
      <div class="col-md-11 col-md-offset-1">
        <table class="table table-condensed table-hover" id="table-users">
          <br>
            <%= user.name %>
          </br>
          <br>
            <%= link_to "削除", user, method: :delete,
                                      data: { confirm: "削除してよろしいですか？" },
                                      class: "btn btn-primary btn-default" %>
          </br>
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse"
                      data-target="#collapseExample<%= user.id %>" aria-expanded="false"
                      aria-controls="collapseExample">
                編集
              </button>
            </div>
            <div class="collapse" id="collapseExample<%= user.id %>">
              <div class ="panel-body"><%= render 'edit_basic_info', { user: user } %></div>
            </div>
          </div>
        </table>
      </div>
    </div>
  <% end %>
<% end %>